player_left RCDATA "assests\\Character1.png"
player_right RCDATA "assests\\Character2.png"
player_front RCDATA "assests\\Character4.png"
player_back RCDATA "assests\\Character7.png"
goal RCDATA "assests\\EndPoint_Red.png"
empty RCDATA "assests\\Ground_Sand.png"
wall RCDATA "assests\\WallRound_Beige.png"
box RCDATA "assests\\CrateDark_Blue.png"
lvl1 RCDATA "levels\\level1.lvl"
lvl2 RCDATA "levels\\level2.lvl"
lvl3 RCDATA "levels\\level3.lvl"
